{% extends "forum/forum_base.html" %}
{% load i18n forum %}

{% block title %}{{ block.super }}{% endblock %}

{% block breadcrumb %}{{ block.super }}{% include "forum/includes/forum_brd_crumbs.html" %}{% endblock breadcrumb %}

{% block content %}
<div class="span-24 last">
  <div class="block">
    <h3 class="block_title">
      <span>{% trans "Forum" %}: {{ forum.name }}</span>
      <span style="float:right">
        {% if user.is_authenticated %}
          <a class="newpost" href="{% url forum_new_topic forum.pk %}"><span>{% trans "Post new topic" %}</span></a>
        {% else %}
          {% trans "You must" %} <a href="{% url auth_login %}">{% trans "Login" %}</a> {% trans "or" %} <a href="{% url registration_register %}">{% trans "register" %}</a> {% trans "to post a topic" %}
        {% endif %}
      </span>
    </h3>
    <div class="block_content">
      <div style="padding:10px;border-bottom: 1px solid #CCC">
		{% load pagination_tags %}
		{% autopaginate topics FORUM_PAGE_SIZE %}
		{% paginate %}
        <h2>
          <span><a title="Permanent link to this forum." rel="bookmark" href="{% url forum_forum forum.slug %}" class="permalink">{{ forum.name }}</a></span>
        </h2>
      </div>
      <div>
        {% include 'forum/includes/topic_list.html' %}
        <div style="padding: 8px 10px 0px 10px;border-top:1px solid #FFF">Page:{% paginate %}</div>
	  </div>
    </div>
  </div>
</div>
{% endblock %}
