{% load i18n %}
<style>
th label {
    font-size: 1.5em;
}
h2.form_title {
    text-align: center;
}
table tr {
    margin-bottom: 1em;
}
</style>
<div id="form{{ content.id }}">
  {% if content.show_form_title %}
    <h2 class="form_title">{{ content.form.title }}</h2>
  {% endif %}
  {% if form %}

  <form method="post" action="#form{{ content.id }}" class="jqtransform">{% csrf_token %}
    <table>
      {{ form }}
      {% if is_submitter %}
      <tr>
        <td></td>
        <td>
          <input type="submit" value="提交">
          <!--<input type="submit" value="{% trans 'Submit' %}" />-->
        </td>
      </tr>
      {% endif %}
    </table>
  </form>
  {% else %}
    {{ message|safe }}
  {% endif %}
</div>
<script type="text/javascript">
$(function() {
    //find all form with class jqtransform and apply the plugin
    $("form.jqtransform").jqTransform();
});
</script>
