<script type="text/javascript" src="{{ STATIC_URL }}markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}markitup/sets/default/set.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/sets/default/style.css" />
<script type="text/javascript" >
$(function() {
    $(".multiSet").markItUp(mySettings);
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}markitup/jquery.markitup.js"></script>
<style type="text/css">
.markItUp  {
    width: 80%;
    margin: 5px 0 5px 106px;
    border: 0px; 
}
</style>
