{% extends "site_base.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

{% block content %}
  {% if feincms_page.auth and request.user.is_anonymous %}
    <script language="JavaScript">self.location='{% url auth_login %}';</script>
  {% else %}
  <div class="span-16">
  {% feincms_render_region feincms_page "main" request %}
  </div>
  <div class="span-8 last">
  {% feincms_navigation of feincms_page as sublevel level=2 %}
  {% if sublevel %}
    {% for p in sublevel %}
    {% if forloop.first %}<ul>{% endif %}
    <li><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
    {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
    {% else %}
    <span>No subpages</span>
    {% endif %}
  {% feincms_render_region feincms_page "right" request %}
  </div>
  {% endif %}
{% endblock content %}
