{% extends "site_base.html" %}

{% block content %}
<div class="border">
  <div class="front">
<h1>欢迎访问杭州市疾病预防控制中心实验室</h1>
<h3>我们提供：</h3>
<ul style="list-style: square inside;">
  <li style="list-style: square inside;">在线服务</li>
  <li style="list-style: square inside;">数据计算</li>
  <li style="list-style: square inside;">项目发布</li>
  <li style="list-style: square inside;">数据共享</li>
</ul>
<div style="position: relative; right: 0px;"><a href="{% url registration_register %}" style="color: #EFEFEF;"><h2>加入我们!</h2></a></div>
  </div>
</div>
<div class="span-8">this is</div>
<div class="span-8">that is</div>
<div class="span-8 last">those</div>

<div class="span-8">this is</div>
<div class="span-8">that is</div>
<div class="span-8 last">those</div>
{% endblock %}
