{% extends "site_base.html" %}

{% block content %}
<div class="border">
  <div class="front">
<h1>欢迎访问杭州市疾病预防控制中心实验室</h1>
<h3>我们提供：</h3>
<ul style="list-style: square inside;">
  <li style="list-style: square inside;">在线服务</li>
  <li style="list-style: square inside;">数据计算</li>
  <li style="list-style: square inside;">项目发布</li>
  <li style="list-style: square inside;">数据共享</li>
</ul>
<div style="position: relative; right: 0px;"><h2 style="font-style: bold">即将开放注册，敬请关注</h2></div>
  </div>
</div>
<div class="span-8">
  <img src="{{ MEDIA_URL }}image/front_2.jpg" style="padding:5px; margin-bottom:10px;" />
  <h2>We Communicate</h2>
  <p>“大建设、大融合、大比武”是近年来杭州市市医疗卫生工作的基本方略，“区县强，全市强”更是全市疾控战线的创新意识，只有“城乡一体化发展”才能带来全市疾控的崭新局面。</p>
  <p>对于疾控系统的实验室工作人员来说，进一步加强协作与交流能更快更好的完成应急检测任务，提高检测水平，丰富视野，提升实践经验。推广先进的检测、检验方法，建立质量控制体系，负责对下级疾病预防控制机构人员的培训。</p>
</div>

<div class="span-8">
  <img src="{{ MEDIA_URL }}image/front_3.jpg" style="padding:5px; margin-bottom:10px;" />
  <h2>We Detect</h2>
  <p>我们参与和指导地方处理重大疫情、突发公共卫生事件，建立杭州重大疾病、中毒、卫生污染、救灾防病等重大公共卫生问题的应急反应 系统。配合并参与各组织对重大突发公共卫生事件的调查处理。</p><p>实验室着力于突发公共卫生事件实验室应急诊断技术的研究、开发与应用，主要研究内容和研究方向包括公共卫生事件中主要病原微生物的分子生物学快速诊断技术研究、病原学应用基础研究技术研究、化学毒物、药物残留、生物毒素的快速检测技术研究和建立生物数据分析平台研究</p>
  
</div>

<div class="span-8 last">
  <img src="{{ MEDIA_URL }}image/front_4.jpg" style="padding:5px; margin-bottom:10px;" />
  <h2>We Compute</h2>
  <p>了解大自然无声而优雅的活细胞的语言，是现代分子生物学的追求。从一个只有四个字母代表的DNA化学亚基的字母表，出现了语法，其最复杂的表达式是人的生命过程。</p><p>“字母”的瓦解和使用，形成新的“单词和短语”，是分子生物学领域的中心焦点。海量分子数据和其神秘的和微妙的模式导致计算机化的数据库和分析工具的要求。目前的挑战是在寻找新的方法来处理数据的数量和复杂性，并提供给研究人员更好地获得分析和计算工具，来推进我们的基因遗产和其在健康和疾病中的作用的认识。</p>
</div>

{% endblock %}
