{% extends "site_base.html" %}

{% block content %}
<div class="border">
  <div class="front">
<h1>欢迎访问杭州市疾病预防控制中心实验室</h1>
<h3>我们提供：</h3>
<ul style="list-style: square inside;">
  <li style="list-style: square inside;">在线服务</li>
  <li style="list-style: square inside;">数据计算</li>
  <li style="list-style: square inside;">项目发布</li>
  <li style="list-style: square inside;">数据共享</li>
</ul>
<div style="position: relative; right: 0px;"><h2 style="font-style: bold">即将开放注册，敬请关注</h2></div>
  </div>
</div>
<div class="span-8">
  <img src="{{ MEDIA_URL }}image/front_4.jpg" style="padding:5px; margin-bottom:10px;" />
  <h2>We Compute</h2>
  <p>经历了三个月的评测，在昨日，德国独立反病毒测试机构AV-Test公布了2011年第二季度的杀毒软件性能评估报告！22款杀毒软件中，有16款顺利通过评测，而其中的六款不幸败北，下面分享2011年第二季度AV-Test评测结果，同时我将国内常用杀软评分结果按照从高到低列出以下杀毒软件排行榜，希望对大家选择杀毒软件有所帮助：</p>
  <p>read more</p>
</div>

<div class="span-8">
  <img src="{{ MEDIA_URL }}image/front_3.jpg" style="padding:5px; margin-bottom:10px;" />
  <h2>We Study</h2>
  <p>Ksplice允许不用重启就为Linux Kernel打上补丁。现在基于该技术而成立的Ksplice公司已被甲骨文公司收购。甲骨文计划为其企业发行版客户提供不重启服务。 甲骨文在新闻稿中声称，通过为客户提供无需重启的安全更新、bug诊断和重要bug修正，Ksplice技术将增加Oracle Linux的安全性，可靠性和可用性。Ksplice公司CEO在给客户的电子邮件中表示，Ksplice Uptrack服务将成为Oracle Linux Premier Support的一部分，他们将不再继续出售该服务。目前看来，未来非甲骨文客户可能无法使用该服务。</p>
  <p>read more</p>
</div>

<div class="span-8 last">
  <img src="{{ MEDIA_URL }}image/front_2.jpg" style="padding:5px; margin-bottom:10px;" />
  <h2>We Communicate</h2>
  <p>wmr 写道 "中国曾经在40天内发生6起针对儿童的血案，如果那是犯罪行为模仿的话，中国大陆9天内4座桥梁垮塌1座桥梁倾斜是由于材料弱点的气候原因？巧合？一辆严重超载货车在通过北京怀柔宝山寺白河桥时，该桥发生坍塌。这是9天来，中国第四座发生垮塌的桥梁。 之前发生了：7月11日，江苏盐城通榆河桥坍塌；12日，武汉黄陂一高架桥引桥严重开裂，并向两边倾斜；14日，福建武夷山公馆大桥倒塌；15日，杭州钱江三桥引桥坍塌。其中钱江三桥塌落路段戒备森严，不允许任何非工作人员靠近。残块断面围着排布整齐的钢筋，包住内层的混凝土，但粗细程度及水泥和灌浆等是否达标无法凭肉眼识别。记者拿出记者证和采访函，交警依然表示不能进入施工工地。</p>
  </p>read more</p>
</div>

{% endblock %}
