{% load applicationcontent_tags feincms_tags feincms_page_tags %}
{% load i18n avatar_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}{{ feincms_page.title }}{% endblock title %}</title>
  {% block meta %}{% endblock meta %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/global_style.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/js/jqtransformplugin/jqtransform.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/lightbox_me/jquery.lightbox_me.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jqtransformplugin/jquery.jqtransform.js"></script>
  {% block extra_head %}{% endblock extra_head %}
  {{ feincms_page.object.media }}
<script type="text/javascript" charset="utf-8">
$(function() {function launch() {
    $('#sign_up').lightbox_me({centered: true, onLoad: function() {
        $('#sign_up').find('input:first').focus()
        }});
    }
    $('#login').click(function() {
        $("#loader").lightbox_me({centered:  true});
        setTimeout(launch, 100);
        return false;
        });
    $('table  tr:nth-child(even)').addClass('stripe');}
);
</script>
</head>

<body style="background: #FEFEFE">
<div id="header" class="clearfix">
  <div class="container clear">
    <div class="span-18">
      <ol id="top_menu">
      {% feincms_navigation of feincms_page as toplevel level=1 %}
      {% for p in toplevel %}
        <li><a {% if p|is_equal_or_parent_of:feincms_page %}class="active"{% endif %} href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
      {% endfor %}
      </ol>
    </div>
    <div class="span-6 last">
      <ul id="user_panel">
      {% if request.user.is_anonymous %}
        <li><a href="#" id="login" style="color: #EFEFEF">登录</a></li>
      {% else %}
        <li>{% avatar request.user %}</li>
        <li><a href="{% url profile_detail request.user %}">{{ request.user.first_name }}{{ request.user.last_name }}</a></li>
        <li><a href="{% url auth_logout %}">退出登录</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</div>

<div id="sign_up" style="display: none; background: #EEEEEE; padding: 20px; border:2px sold #4a4a4a">
<h1>{% trans "Authorization" %}</h1>
<form class="login-form" method="post" action="/account/login/">{% csrf_token %}
  <div class="wide">
    <label for="id_username">帐号:</label>
    <input type="text" name="username" id="id_username">
    <label for="id_password">密码:</label>
    <input type="password" name="password" id="id_password">
  </div>
  <div><input type="submit" value="{% trans 'login' %}" /></div>
  <input type="hidden" name="next" value="{{ next }}" />
</form>
<a href="{% url auth_password_reset %}">{% trans "I forgot password" %}</a>
</div>

<div id="header_sub" class="clearfix">
  <div class="container clear">
    <div class="span-6">
    <div id="front_title">
      <h1>HZCDC * Labs</h1>
      <div>杭州市疾病预防控制中心实验室</div>
    </div>
    </div>
    <div class="span-18 last">
      <form method="post" action="#">{% csrf_token %}
      <input type="text">
      </form>
    </div>
  </div>
</div>

<div class="container clear">
  <div class="content">{% block content %}{% endblock content %}</div>
</div>

</body>
</html>
