{% load applicationcontent_tags feincms_tags feincms_page_tags %}
{% load i18n avatar_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}{{ feincms_page.title }}{% endblock title %}</title>
  {% block meta %}{% endblock meta %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/global_style.css" />
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/js/jqtransformplugin/jqtransform.css" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/lightbox_me/jquery.lightbox_me.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}js/jqtransformplugin/jquery.jqtransform.js"></script>
  {% block extra_head %}{% endblock extra_head %}
  {{ feincms_page.object.media }}
<script type="text/javascript" charset="utf-8">
$(function() {function launch() {
    $('#sign_up').lightbox_me({centered: true, onLoad: function() {
        $('#sign_up').find('input:first').focus()
        }});
    }
    $('#login').click(function() {
        $("#loader").lightbox_me({centered:  true});
        setTimeout(launch, 100);
        return false;
        });
    $('table  tr:nth-child(even)').addClass('stripe');}
);
</script>
</head>

<body style="background: #FEFEFE">
<div id="header" class="clearfix">
  <div class="container clear">
    <div class="span-18">
      <ol id="top_menu">
      {% feincms_navigation of feincms_page as toplevel level=1 %}
      {% for p in toplevel %}
        <li><a {% if p|is_equal_or_parent_of:feincms_page %}class="active"{% endif %} href="{{ p.get_absolute_url }}">{{ p.title }}</a></li>
      {% endfor %}
      </ol>
    </div>
    <div class="span-6 last">
    {% if request.user.is_anonymous %}
      <ul id="user_panel">
        <li><a href="#" id="login" style="color: #EFEFEF">登录</a></li>
        <li><a href="#" id="register" style="color: #EFEFEF">注册</a></li>
      </ul>
    {% else %}
      <span style="color: #EEE">控制面板</span> | <span>{% avatar request.user 24 %}</span>
    {% endif %}
    </div>
  </div>
</div>

<div id="sign_up" style="display: none; background: #EEEEEE; padding: 20px; border:2px sold #4a4a4a">
  <h3 id="see_id" class="sprited">Can I see some ID?</h3>
  <span>Please sign in using the form below</span>
  <div id="sign_up_form">
    <label><strong>Username:</strong><input class="sprited"></label>
    <label><strong>Password:</strong><input class="sprited"></label>
    <div id="actions">
      <a class="close form_button sprited" id="cancel" href="#">Cancel</a>
      <a class="form_button sprited" id="log_in" href="#">Sign in</a>
    </div>
  </div>
  <h3 id="left_out" class="sprited">Feeling left out?</h3>
  <span>Don't be sad, just <a href="#">click here</a> to sign up!</span>
  <a id="close_x" class="close sprited" href="#">close</a>
</div>

<div id="header_sub" class="clearfix">
  <div class="container clear">
    <div id="front_title">
      <h1>HZCDC * Labs</h1>
      <div>杭州市疾病预防控制中心实验室</div>
    </div>
  </div>
</div>

<div class="container clear">
  <div class="content">{% block content %}{% endblock content %}</div>
</div>

</body>
</html>
