{% extends 'account/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans "New password" %}</h1>
<form method="post" action="{% url auth_password_change %}" class="jqtransform">{% csrf_token %}
    <div class="wide">{{ form.as_p }}</div>
    <p><input type="submit" value="{% trans 'Save' %}" /></p>
</form>
<script type="text/javascript">
$(function() {
    //find all form with class jqtransform and apply the plugin
    $("form.jqtransform").jqTransform();
});
</script>
</script>
{% endblock %}
